.items {
    padding: 10px 0px 10px 0px; 
    background: #FAFAFA;
}

.item-button {
    width: 100%;
    height: 100%;
    color: white;
    background-color: #7092a4;
    border: 0;
    padding: 20px 20px;
}

.mistake-title {
    font-family: 'mina', sans-serif;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.comment-line {
    font-family: 'mina', sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
}