

h1 {
  padding-top: 100px;
  margin-block-end: 0.1em;
  color: white;
  font-family: 'Mina', sans-serif;
  font-size: 45px;
  letter-spacing: 4px;
}

p.intro {
  font-family: 'Mina', sans-serif;
  font-size: 20px;
  color: white;
  max-width: 400px;
  margin: 0 auto;
  padding-bottom: 20px;
}

button.sign {
  font-family: 'Mina', sans-serif;
  font-size: 20px;
  background: #7092a4;
  color: white;
  padding: 10px;
  border: 0;
  margin: 0px 4px 0px 4px;
  cursor: pointer;
}

