.full-item {
    background-color: #def0e6;
    padding: 10px 10px 40px 40px;
    max-width: 720px;
    margin: 0 auto;
    width: 98%;
}

h2.item-title, h3.item-question, .edit-btn, .feedback {
    font-family: 'mina', sans-serif;
}

h2.item-title {
    font-size: 36px;
    font-weight: normal;
    color: #467082;
    padding-bottom: 15px;
}

.your-mistake {
    text-align: left;
    font-family: 'mina', sans-serif;
    font-style: italic;
    font-size: 16px;
    color: #456f82;
    padding-bottom: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

h3.item-question, p.item-content {
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
    padding-right: 30px;
}

h3.item-question {
    color: #456f82;
    font-size: 22px;
}

p.item-content {
    color: #282424;
    font-size: 18px;
    margin-block-start: 5px;
}

a.edit-btn, .feedback {
    color: #456f82;
}
button.edit-btn {
    text-align: right;
    font-size: 20px;
    color: #456f82;
    cursor: pointer;
    background-color: #def0e6;
    border: 0;
    line-height: 25px;
    padding-top: 6px;
}

button.edit-btn:hover {
    background-color: #def0e6;
    text-decoration: underline;
}

.edit-btn-row, .delete-btn-div {
    text-align: right;
}

.feedback {
    font-size: 22px;
    letter-spacing: 3px;
    font-weight: bold;
    margin-block-end: 7px;
}

p.deletePermission {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-size: 14px;
    color: #456f82;
    margin-block-start: 0;
}

.single-comment-div {
    background-color: #dae0dc;
    padding: 10px;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 15px;
    max-width: 540px;
    border-radius: 10px 10px;
}

.single-comment-text {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: left;
    padding: 0px 15px;
    font-size: 16px;
    font-style: italic;
}

button.delete-btn {
    text-align: right;
    font-size: 12px;
    color: red;
    cursor: pointer;
    background-color: #dae0dc;
    border: 0;
    letter-spacing: 1px;
}

button.delete-btn:hover {
    color: white;
    background-color: red;
}

.confirm-delete {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: #456f82;
    display: none;
    padding-top: 10px;
}

button.delete-btn:hover + .confirm-delete {
    display: block;
}

/* Responsive */
@media only screen and (max-width: 650px) { 
    .full-item {
        padding-left: 20px;
    }
    button.edit-btn {
        padding-bottom: 10px;
    }
    .single-comment-div {
        width: 100%;
    }
    h3.item-question {
        padding-right: 10px;
    }
}
