* {
  box-sizing: border-box;
}

html {
  background: #285463;
  margin: 0 auto;
  text-align: center;
}

body {
  font-family: sans-serif;
}

h2, h3 {
  margin: 0;
}

h2 {
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.underlinedLink {
  text-decoration: underline;
}

button:hover {
  background-color: #81a4b2;
}


/* mobile-related */

.row {
  max-width: 1000px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-3, .col-4, .col-6, .col-12 {
  float: left;

  /* Gutters:
   * Each column is padded by half-a-gutter on each side,
   *
   * Half a gutter is 10px, 10/960 (context) = 1.041666%
   *
   */
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

/* Mobile defaults */
.col-3, .col-4, .col-6, .col-12 {
  width: 100%;
}

@media only screen and (min-width: 650px) {

  html {
    background: 
    linear-gradient(
      rgba(84, 118, 129, 0.35), 
      rgba(40,84,99, 0.35) 
    ),
    url(https://raw.githubusercontent.com/jasoncristobal/regretful-client/master/public/backgroundPhoto.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 0px 10px;
  }

}

@media only screen and (min-width: 700px) {
  
  /* 3 columns, 3/12 in % */
  .col-3 {
    width: 25%;
  }

  /* 4 columns, 4/12 in % */
  .col-4 {
    width: 33.333333%;
  }

  /* 6 columns, 6/12 in % */
  .col-6 {
    width: 50%;
  }

  /* 12 columns, 12/12 in % */
  .col-12 {
    width: 100%;
  }
}

